/*"Home Page" section*/
body.home{
    background-image:  url(https://steamuserimages-a.akamaihd.net/ugc/38620959927449373/E3A1E1B94F77BB6CAD6635FCFF9542A762CDF795/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button.bttbutton{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: darkgrey;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    border:5px solid black;
    display: none;

}

button.bttbutton:hover{
    border: 5px solid black;
    background-color: grey;
    color: purple;
}

p.hometimegreeting{
    font-size:50px;
    color:white;
    text-align:center;
    background-color:purple;
    float: right;
    margin-left: 50px;
}
p.homedaydate{
    font-size:50px;
    color:white;
    text-align:center;
    background-color:purple;
    float: right;
}

p.homeclock{
    font-size:50px;
    color:white;
    text-align:center;
    background-color:purple;
    float: right;
    margin-right: -230px;
}

.glow {
    font-size: 150px;
    color: #9932CC;
    text-align:center;
    animation: glow 1s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow {
         from {
                 text-shadow: 0 0 10px #9932CC, 0 0 20px #9932CC, 0 0 30px#9932CC , 0 0 40px #9932CC, 0 0 50px #9932CC, 0 0 60px #9932CC, 0 0 70px #9932CC;
         }
      
         to {
           text-shadow: 0 0 20px #9932CC, 0 0 30px #9932CC, 0 0 40px #9932CC, 0 0 50px #9932CC, 0 0 60px #9932CC, 0 0 70px #9932CC, 0 0 80px #9932CC;
         }
}

div.homebio {
    width: 800px;
    margin: auto;
    border: 3px solid #9400D3;
    color:white;
    font-size:40px;
    text-align:center;
}

div.homepicturegallery {
    float: left;
    width: 300px;
    margin: auto;
    border: 3px solid rgb(10, 146, 146);
    color:white;
    font-size:40px;
    text-align:center;
}

button.morepicturesbutton{
    color:purple;
    font-size:20px;
    background-color:darkgrey;
    height:30px;
    width:150px;
    cursor: pointer;
}

button.morepicturesbutton:hover{
    color:purple;
    background-color:grey;
    height:30px;
    width:150px;
}

a.morepictureslink:hover{
    color:lightcoral;
}

button.cinemabutton{
    color:purple;
    font-size:20px;
    background-color:darkgrey;
    height:30px;
    width:100px;
    cursor:pointer;
}

button.cinemabutton:hover{
    color:purple;
    background-color:grey;
    height:30px;
    width:100px;
}

div.homeyoutube {
    float: left;
    width: 300px;
    margin: auto;
    border: 3px solid #FF0000;
    color:white;
    text-align:center;
    font-size:40px;
}

div.homemedia {
    float: left;
    width: 300px;
    margin: auto;
    border: 3px solid #FAF0E6;
    color:white;
    font-size: 40px;
    text-align:center;
}
 
div.homemusic {
    float:left;
    width:300px;
    margin:auto;
    border: 3px solid orange;
    color:white;
    font-size: 40px;
    text-align:center;
}
  
img.musicicon{
    height:125px;
    width: 125px;
}

div.QRcodediv{
    border:3px solid white;
    width:300px;
    color:white;
    font-size:40px;
    text-align: center;
    display:block;
    margin-left: 1110px;
    margin-top:-325px;
}

button.QRcodebutton{
    color:purple;
    font-size: 17px;
    background-color:darkgrey;
    height:30px;
    width:300px;
    cursor: pointer;
    margin-left: 1110px;
}

button.QRcodebutton:hover{
    color:purple;
    font-size: 17px;
    background-color:grey;
    height:30px;
    width:300px;
    cursor: pointer;
}

img.QRcodeimg{
    display: none;
    margin-left:1130px;
}

img.QRcodeimgdownload1{
    display:none;
    height:50px;
    width:125px;
    margin-left:1400px;
    margin-top: -50px;
}


button.pnotesbutton{
    color:purple;
    background-color:lightgrey;
    cursor: pointer;
}

button.pnotesbutton:hover{
    color:purple;
    background-color:grey;
}



/*"Picture Gallery" section */
body.gallery {
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1774951538400993212/E445F969AEA82627FB9A6922B8D8E48F4DC5471C/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

button.gallerybttbutton{
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: darkgrey;
cursor: pointer;
padding: 15px;
border-radius: 4px;
border:5px solid black;
display:none;
}

div.picgallerydiv{
    border:10px solid black;
    float:center;
    height:275px;
    width: 1000px;
    margin:auto;
    background-color:rgb(10, 146, 146);
}

h1.picgallerytitle{
    font-size: 100px;
    color:white;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}

table.pictures, td, th{
    border-collapse:collapse;
    border:10px solid black;
    width:400px;
    height:400px;
    margin:auto;
    text-align:center;
    background-color:rgb(10, 146, 146);
}



/*"Patch Notes" section*/
body.pnotes {
    background-color:grey;
}

h1.pnotesheader {
    font-family:'Times New Roman', Times, serif;
    font-size:100px;
    text-align:center;
} 

p.pnotesred {
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    color:red;
}

p.pnotesblack {
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
}



/*"Cinema" section*/
body.cinema{
    background-image: url(https://raw.githubusercontent.com/SirZeni/sirzenigaming/main/cinema1.png);
    background-attachment: fixed;
    background-size: 100%;
    background-position-x:center;
    background-position-y:center;
    background-repeat: no-repeat;
    background-color:black;
}

h1.cinemaheader{
    font-family:'Times New Roman', Times, serif;
    font-size:100px;
    text-align:center;
    color:white;
}

div.cinemadiv{
    display:block;
    margin-left: 180px;
    margin-top:-103px;
}

iframe.cinemayoutubevids1{
    height: 825px;
    width:2177px;
}

iframe.cinemayoutubevids2{
    display:none;
    height: 825px;
    width:2177px;
}

iframe.cinemayoutubevids3{
    display:none;
    height: 825px;
    width:2177px;
}

iframe.cinemayoutubevids4{
    display:none;
    height: 825px;
    width:2177px;
}

button.cinemamenubutton{
    height:100px;
    width: 100px;
    background-color:transparent;
    border: 3px solid black;
    cursor: pointer;
}

div.cinemabuttondivs1{
    background-color: black;
    height: 5px;
    width: 80px;
}

h1.cinemavideoslistheader{
    font-size:20px;
    text-align:center;
    color: yellow;
}

button.dropmenubuttons{
    border: 5px solid black;
    height:100px;
    width: 300px;
}

button.dropmenubuttons:hover{
    border: 5px solid black;
    height:100px;
    width: 300px;
    background-color: grey;
}

div.cinemamenu{
    display:none;
    background-color: maroon;
    height: 530px;
    width: 300px;
    margin-top: -700px;
    position:absolute;
}

/*"Music" section*/

body.sirzenimusic {
    background-color:tan;
}

h1.musicheader{
    color: black;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size: 100px;
}

h2.myguitar{
    color:black;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size:50px;
}

img.zeniguitar {
    height:600px;
    width: 425px;
    display:block;
    margin:auto;
}

h3.downloadcontent{
    color:black;
    text-align:left;
    font-family:'Times New Roman', Times, serif;
    font-size:50px;
}

div.songboxes{
    float:left;
    margin:100px;
    border:transparent;
    height:200px;
    width:400px;
}

audio.control{
    text-align:center;
}
p.nationalanthem{
    text-align:center;

}

p.unnamed1{
    text-align:center
}

p.unnamed2{
    text-align:center;
}

p.unnamed3{
    text-align:center;
}

a.songdownload{
    text-align:center;
}

a.songdownload:hover{
    color:green;
}



/*Media Queries*/
@media (max-width:1224px) {
    #bttbutton{
        width: 100px;
        height: 75px;
    }
}

@media (min-width:1921px) , (max-width:2500px){
    #zenipic{
        height:100px;
        width:100px;
    }
}

@media (min-width:1370px) , (max-width:1920px) {
    #zenipic {
        width: 75px;
        height: 75px;
    }
}

@media (min-width:1225px) , (max-width:1369px) {
    #zenipic {
        width: 60px;
        height: 60px;
    }
}

@media (max-width:1224px) {
    #zenipic {
        width: 37px;
        height: 37px;
    }
}

@media (min-width:1225px) , (max-width:1369px){
    #homegallery {
        width:450px;
        height:225px;
    }
}

@media (max-width:1224px) {
    #homegallery {
        width:400px;
        height:200px;
    }

}

@media (min-width:1225px) , (max-width:1369px){
    #youtubeframes{
        width:325px;
        height:250px;
    }
}

@media (max-width:1225px){
    #buttongallerymedia{
        font-size:15px;
    }
}

@media (min-width:1225px) , (max-width:1369px){
    #picstab{
        width:50%;
        height:50%;
    }
}

@media (max-width:1225px){
    #picgallerydiv1{
        width:auto;
        height:auto;
    }
}

@media (max-width:1225px){
    #maingrid{
        width:auto;
        height:auto;
    }
}

@media (min-width:1225px) , (max-width:1369px) {
    #allpics{
        height:150px;
        width:300px;
    }
}

@media (max-width:1224px){
    #allpics{
        height:100px;
        width:200px;
    }
}

@media (max-width:1224px){
    #QRcodediv1{
        float:left;
        margin-left: auto;
        margin-top:auto;
   
    }
}

@media (max-width:1224px){
    #QRcodebutton1{
        float: left;
        margin-left: auto;
        margin-top: 30px;
    }
}

@media (max-width:1224px){
    #QRcodeimg1{
        float:left;
        margin-left: auto;
    }
}

@media (max-width:1224px){
    #QRcodeimg1download{
        margin-left:1px;
        float:left;
        margin-top:225px;
    }
}

@media (max-width:1500px){
    #cinemamenubutton1{
        height:100px;
        width: 100px;
        background-color:transparent;
        border: 3px solid grey;
        cursor: pointer;

    }
}

@media (max-width:1500px){
    #cinemabuttondivsid{
        background-color: grey;
        height: 5px;
        width: 80px;
    }
}

@media (max-width:1500px){
    #cinemadropdownmenu{
        display:none;
        background-color: maroon;
        height: 520px;
        width: 250px;
        margin-top: -600px;
        position:absolute;
    }
}

@media (max-width:1500px){
    #cinemabutton1, #cinemabutton2, #cinemabutton3, #cinemabutton4{
        border: 5px solid black;
        height:100px;
        width: 250px;
    }
}
@media (max-width:1100px){
    #cinemayoutubevideo1{
        display:block;
        margin-left: -120px;
        margin-top:392px;
        height: 400px;
        width:107%;
    }
}



@media (max-width:1224px){
    #cinemayoutubevideo2, #cinemayoutubevideo3, #cinemayoutubevideo4 {
        display:none;
        margin-left: -120px;
        margin-top:192px;
        height: 400px;
        width:107%;
    }
    }
